:root{
    --bg-dark: #1a1c23;
    --text-muted: #c9ccd9;
    --bg-light: #ffffff;
    --bg-body: #f4f6f9;
    --red-accent: #e74c3c;
    --yellow-accent: #C08552;
    --text-dark: #2c3e50;
    --border-color: #e2e8f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body{ 
    background-color: var(--bg-body);
    color: var(--text-dark);
}

.app-container{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

/*Barra lateral*/

.sidebar{
    width: 260px;
    background-color: #8C5A3C;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 25px 30px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo-img{
    width: 30px;
    height: 30px;
}

.logo h2{
    font-size: 18px;
    font-weight: 600;
    color: #FFF8F0;
}

.nav-title{
    padding: 20px 25px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-muted);
    letter-spacing: 1px;
}

.nav-menu button{
    display: block;
    width: 100%;
    padding: 15px 25px;
    background: none; 
    border: none; 
    color: var(--text-muted); 
    text-align: left; 
    font-size: 15px; 
    font-weight: 500; 
    cursor: pointer; 
    transition: 0.3s; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.10);
}

.nav-menu button:hover{
   color: white; 
   border-left: 4px solid var(--red-accent); 
   background: #4B2E2B; 
   padding-left: 21px;
}

/*Conteúdo principal*/
.main-content{
    flex: 1;
    padding: 30px 40px;
    overflow-y: auto;
}

/*cabeçalho*/

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.user-info h3 {
    font-size: 14px;
    font-weight: 600;
}

.user-info p {
    font-size: 12px;
    color: #605d53;
}

.search-bar{
    background-color:  white;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;    
    gap: 15px;
    width: 500px;
    margin: 15px 0;
}

.search-bar input{
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}

.btn-primary{
    background-color: #C08552;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 500; 
    cursor: pointer; 
    transition: 0.3s;
    margin: 10px;
}

.btn-primary:hover{
    background-color: #936238; 
    box-shadow: 0 4px 10px rgba(231, 76, 60, 0.3);
}

/*Layout do Dashboard*/

.page-title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1px 5px;
}

.dashboard-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/*Cartoes*/

.card{
    background: var(--bg-light);
    padding: 25px;
    border-radius: 20px;
    border-radius: 20px;
    border: 1px solid var(--border-color); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.02);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-header h3{
    font-size: 12px;
    font-weight: 600;
}

.view-more{
    font-size: 12px;
    color: var(--text-muted);
    cursor: pointer;
}

.card-yellow{
    background-color: var(--yellow-accent);
    color: #111;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-yellow .card-subtitle{
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.card-yellow .big-number{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFF8F0;
}

.card-yellow .card-footer{
    font-size: 12px;
    font-weight: 500;
}

/*formulário*/

.grip-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    
}

.grid-inputs input {
    padding: 12px 15px;
    border: 1px solid var(--border-color); 
    border-radius: 40px; 
    font-size: 13px; 
    background: #fdfdfd; 
    outline: none;

}

.grid-inputs input:focus {
    border-color: var(--yellow-accent); 
    box-shadow: 0 0 0 3px rgba(241, 196, 15, 0.1);
}

/*tabela*/

.table-card{
    grid-column: 1 / -1;
}

.table-responsive{
    overflow-x: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th{
    color: var(--text-muted);
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
    border-bottom: 1px solid var(--border-color);    
}

td{
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
    vertical-align: middle;
}

tr:hover{
    background-color: #f9fafc;
}

/*botao de excluir*/
.btn-excluir{
    background-color:  #fee2e2;
    color: #ef4444;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}

.btn-excluir:hover{
  background: #fca5a5;
}

/*modal*/
.modal {

    display: none; /* Escondido por padrão */
    position: fixed; /* Fixa em relação à tela, não ao conteúdo */
    z-index: 9999; /* Valor alto para ficar na frente de tudo */
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    position: relative; /* Para o botão de fechar se posicionar dentro dela */
    animation: fadeIn 0.3s ease-out; /* Animação suave ao abrir */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.btn-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #8C5A3C;

}

.item-detalhe {

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}


